# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
pids
logs
results

# Environment variables
.env

# Editors
# .vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Testing
coverage/

# Compiled files
dist/
build/

# Debug logs
debug.log

src/views