<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="/courseentry/course" method="post">
            ID<input type="text" name="id" />
            NAME <input type="text" name="name" />
            semester <input type="text" name="semester">
            
           
            <input type="submit" name="submit" />
        </form>
    </body>
</html>
